%html
  %head
    %title #{"#{@title} : " if @title}CPH SK8 MAP
    %link{:href => "/css/master.css", :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "/fancybox/jquery.fancybox-1.3.2.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => "/css/videobox.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "http://maps.google.dk/maps/api/js?sensor=false&language=da&region=dk"}
    %script{:type=>"text/javascript", :src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"/js/jquery.swfobject.js"}
    %script{:type=>"text/javascript", :src=>"/fancybox/jquery.fancybox-1.3.2.js"}
    %script{:type=>"text/javascript", :src=>"http://w.sharethis.com/button/buttons.js"}
    %script{:type=>"text/javascript", :src=>"http://tile.cloudmade.com/wml/latest/web-maps-lite.js"}

    %link{:href=>'http://fonts.googleapis.com/css?family=Crimson+Text&subset=latin', :rel=>'stylesheet', :type=>'text/css'}

    
    :javascript 

			
      var map = {map : null};
      
      var directionDisplay;
      var directionsService = new google.maps.DirectionsService();

      map.init = function initialize() {
        var latlng = new google.maps.LatLng(55.676294, 12.568116);


        var markerOption = {
            clickable: true,
            flat: false,
            visible: false,
            map: map
        };

    
        directionsDisplay = new google.maps.DirectionsRenderer({ markerOptions: markerOption, suppressInfoWindows: true});
        stepDisplay = new google.maps.InfoWindow();
        
        var myOptions = {
          zoom: 13,
          navigationControl: true,
          mapTypeControl: false,
          scaleControl: false,
          region: 'DK',
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          suppressInfoWindows: true
          };
          
          map = new google.maps.Map(document.getElementById("map_canvas"),myOptions);
          directionsDisplay.setMap(map);

          return map;
        }
        
        function calcRoute(place) {
          var start = new google.maps.LatLng(place[0]["lat"], place[0]["long"])
          
          var middlepoints = [];
          for (i=1;i<place.length-1;i++)
          {
            var middle = new google.maps.LatLng(place[i]["lat"], place[i]["long"])
            middlepoints.push({location:middle,stopover:true});
            
          }
          var end = new google.maps.LatLng(place[place.length-1]["lat"], place[place.length-1]["long"])
          

            var request = {
                origin:start, 
                region: 'DK',
                destination:end,
                waypoints: middlepoints,
                travelMode: google.maps.DirectionsTravelMode.WALKING
            };
            var contentString = '<div class="infowindow"><span><a href="/spot/">hat</a></span></div>';
  
            directionsService.route(request, function(response, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);  
                showPlaces(place);              
                          
              }
            });
          }
        function drawMarker(place){
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(place["lat"], place["long"]),
            map: map, 
            title: "name"
          });
          marker.setMap(map);  

        }
        function showSteps(directionResult) {
          var myRoute = directionResult.routes[0];
          for (var i = 0; i < myRoute.legs.length; i++) {
              var marker = new google.maps.Marker({
                position: myRoute.legs[i].start_location, 
                map: map
              });
              attachInstructionText(marker, 'hat');
              var marker = new google.maps.Marker({
                position: myRoute.legs[i].end_location, 
                map: map
              });
              attachInstructionText(marker, 'hat');
          }

        }
        function showPlaces(directionResult) {
          for (i=0;i<directionResult.length;i++)
          {
            var middle = new google.maps.LatLng(directionResult[i]["lat"], directionResult[i]["long"]);
            var marker = new google.maps.Marker({
              position: middle, 
              map: map
            });
            var contentString = '<div class="infowindow"><span><a href="/spot/' + directionResult[i]["slug"] + '">' + directionResult[i]["title"] + '</a></span>' + "<br>" + directionResult[i]["address"] + "<br>" + directionResult[i]["teaser"] + '</div>';
             attachInstructionText(marker,contentString); 
          }
        }

        function attachInstructionText(marker, text) {
          google.maps.event.addListener(marker, 'click', function() {
            stepDisplay.setContent(text);
            stepDisplay.open(map, marker);
          });
        }
  %body
    %header
      %a{:href => "/", :title => "en guide til skating i cph."}
        %img{:src => "/images/logo.png"}
      -#%h1
        -#%a{:href => "/", :title => "en guide til skating i cph."} copenhagen spot guide
    = yield
    :javascript 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3780169-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();