:javascript
  $(document).ready(function(){
   initializeMap();
   displayMap($('#placeDetails'));
  });
.map
  %div{:id=>'map_canvas', :style=>"height:500px;width:100%;border:solid 1px #ccc;"}
%div
  %h2= @route.title
  %p= textile(@route.body)