%div{:id => 'wrapper'}
  %form{:method => 'post', :action => "/spot/#{@spot.new? ? 'new' : @spot.slug + '/edit'}"}
    %p
    %br
      %label{:for => 'title'}Titel - skal være unik:
      %br
      %input{:type => 'text', :name => 'title', :value => @spot.title}
    %p
    %br
      %label{:for => 'hashtag'}Hash tag (maa ikke indeholde mellemrum, brug bindestreg istedet, og heller ingen special karakterer. skal vaere unik.):
      %br
      %input{:type => 'text', :name => 'hashtag', :value => @spot.hashtag}
    %p
    %br
      %label{:for => 'teaser'}Kort beskrivelse:
      %br
      %textarea{:name => 'teaser', :rows => 5, :cols => 88}= @spot.teaser
    %p
    %br
      %label{:for => 'body'}Lang beskrivelse:
      %br
      %textarea{:name => 'body', :rows => 15, :cols => 88}= @spot.body
    %p
    %br
      Koordinater: (brug evt findvej.dk til at finde koordinater)
      %br
      %label{:for => 'lat'}Breddegrad (55 osv):
      %br
      %input{:type => 'text', :name => 'lat', :value => @spot.lat}
    %p
    %br
      %label{:for => 'long'}Længdegrad (12 osv):
      %br
      %input{:type => 'text', :name => 'long', :value => @spot.long}
    %p
    %br
      %label{:for => 'sequence'}Spot nummer (bestemmer raekkefoelgen paa kortet):
      %br
      %input{:type => 'text', :name => 'sequence', :value =>  @spot.sequence}
    %p
    %br
      %label{:for => 'status'}Rute:
      %br
      %select{:name => 'route'}
        - @routes.each do |route|
          %option{:value => route.slug, :selected => route.slug}= route.slug
    %p
    %br
      %input{:type => 'submit', :value => "Gem"}